/* Global styles */

body {
	font-family: Arial, sans-serif;
	background-color: #a08cb3;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
}

header {
	background-color: #a08cb3;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav li:first-child {
	margin-left: 0;
}

nav a {
	display: block;
	padding: 10px;
}

nav a:hover {
	background-color: #a08cb3;
}

main {
	margin-top: 100px;
	padding: 20px;
}

footer {
	background-color: #a08cb3;
	padding: 20px;
	text-align: center;
}

/* Page-specific styles */


button {
  background-color: #42384d; /* gray purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}

/* Art page */

.art {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.art img {
	max-width: 100%;
	margin-bottom: 20px;
}

body {
  background-image: url('images/artpng.png');
  background-repeat: no-repeat;
  background-size: cover;
}


/* Fabrics page */

.fabrics {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fabrics img {
	max-width: 100%;
	margin-bottom: 20px;
}




/* Photography page */


.photography {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.photography img {
	max-width: 100%;
}
/*
.container {
  margin-top: 100px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.photography-image {
  width: 450px;
  height: 300px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 75px);
}

.photography-image:nth-child(1) {
  top: 10%;
  left: 10%;
}

.photography-image:nth-child(2) {
  top: 10%;
  left: 40%;
}

.photography-image:nth-child(3) {
  top: 10%;
  right: 10%;
}

.photography-image:nth-child(4) {
  bottom: 10%;
  left: 10%;
}

.photography-image:nth-child(5) {
  bottom: 10%;
  right: 10%;
}

.photography-image:nth-child(6) {
  bottom: 10%;
  left: 40%;
}

*/


.container {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 600px;
  height: 400px;
  display: block;
  margin: 50px auto;
}

img:nth-child(even) {
  margin-left: 50px;
}

img:nth-child(odd) {
  margin-right: 50px;
}


/* Add more styles for more images */

