/* Global styles */

body {
	font-family: Arial, sans-serif;
	background-color: #a08cb3;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
}

header {
	background-color: #a08cb3;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav li:first-child {
	margin-left: 0;
}

nav a {
	display: block;
	padding: 10px;
}

nav a:hover {
	background-color: #a08cb3;
}

main {
	margin-top: 100px;
	padding: 20px;
}

footer {
	background-color: #a08cb3;
	padding: 20px;
	text-align: center;
}

/* Page-specific styles */

button {
  background-color: #42384d; /* gray purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}

/* Art page */

.art {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.art img {
	max-width: 100%;
	margin-bottom: 20px;
}

html, body {
  height: 100%;
}

.image-container {
  position: relative;
  height: calc(100vh - 100px); /* Subtract the height of the header from the viewport height */ 
  max-width: 1080px;
  margin: 0 auto;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain; /* This will make the image fill the entire container */
}

/* Fabrics page */

.fabrics {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fabrics img {
	max-width: 100%;
	margin-bottom: 20px;
}

/* Photography page */

.photography {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.photography img {
	max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 600px;
  height: 400px;
  display: block;
  margin: 50px auto;
}

img:nth-child(even) {
  margin-left: 50px;
}

img:nth-child(odd) {
  margin-right: 50px;
}

/* Add more styles for more images */
