body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Old English Text MT', serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #8c8c8c;
  font-family: 'Gothic', sans-serif;
  text-transform: uppercase;
}

a {
  color: #864242;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #a60000;
}

.intro-header {
  font-size: 48px;
  margin-top: 80px;
  text-align: center;
  letter-spacing: 6px;
}

.section {
  border-top: 2px solid #851f1f;
  margin-top: 50px;
  padding-top: 50px;
}

.section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.section p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.random-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.random-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
